{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}
{{ include('shared/_nav.html.twig') }}
<div class="w-full h-3/6 sm:h-5/6">
    <img class="flex w-full max-h-5/6 h-56 sm:h-[85vh] object-cover" alt="main_image" src={{ asset('images/yann-allegre-8FG9tt8qZ-8-unsplash.jpg') }} >
</div>
<h1 class="absolute top-[20%] sm:top-[40%] left-16 sm:left-24 mb-4 text-2xl sm:text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Find Your Snowboard Tricks</h1>
<button type="button" class="w-14 h-14 absolute bottom-32 right-6 text-white bg-black hover:opacity-80 font-medium rounded-full text-sm p-5 text-center inline-flex items-center me-2">
    <a href="#tricks"><i class="fa-solid fa-chevron-down"></i></a>
</button>

{% include 'tricks/tricks_list.html.twig' with {'tricks': tricks, 'previous': previous, 'next': next} %}

{% endblock %}


