<li class="{% if app.request.get('_route') == route %} text-indigo-600 border-b-2 border-indigo-500 {% else %}text-gray-600{% endif %} pb-2 {% if classes is defined %} {{ classes }} {% endif %}">
    <a href="{% block path %}{% endblock %}" class=" px-2 inline-block rounded-t-lg">
        {% block content %}{% endblock %}
    </a>
</li>