<div class="mb-4 border-b border-gray-200 max-w-screen-xl mx-auto">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
        {% block tabs %}
        {% endblock %}
    </ul>
</div>
