{% block body %}
    {% if tricks|length < 1 %}
        <div class="font-bold text-2xl m-5 text-gray-800">No posts yet</div>
    {% else %}
    <section id="tricks" class="flex flex-row flex-wrap mx-auto">
        <!-- Card Component -->
        {% for trick in tricks %}
            {{ include('tricks/partials/_card.html.twig', { trick: trick }) }}
        {% endfor %}

        <!-- Pagination -->
        <div class="my-6 w-full flex justify-center	">
            {% if previous >= 0 %}
                <a href="#" onclick="loadTricks({{ previous }}); return false;">Previous</a>
            {% endif %}

            {% if next < tricks|length %}
                <a href="#" onclick="loadTricks({{ next }}); return false;">Next</a>
            {% endif %}
        </div>

        <script>
            function loadTricks(offset) {
                const url = '{{ path('tricks_partial', {'offset': '__offset__'})|replace({'__offset__': ''}) }}' + offset;

                fetch(url)
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById('tricks').innerHTML = html;
                        scrollToTricks();
                    })
                    .catch(error => {
                        console.error('Error loading tricks:', error);
                    });
            }

            function scrollToTricks() {
                var tricksElement = document.getElementById('tricks');
                if (tricksElement) {
                    tricksElement.scrollIntoView({ behavior: 'instant' });
                }
            }
        </script>
    </section>
    {% endif %}
{% endblock %}