{% block body %}
    {% if tricks|length < 1 %}
        <div class="font-bold text-2xl m-5 text-gray-800">No posts yet</div>
    {% else %}
    <section id="tricks" class="flex flex-row flex-wrap mx-auto">
        <!-- Card Component -->
        {% for trick in tricks %}
            {{ include('tricks/partials/_card.html.twig', { trick: trick }) }}
        {% endfor %}

        <!-- Pagination -->
        <div class="my-6 w-full flex justify-center	">
            {% if previous >= 0 %}
                <a href="{{ path('app_home', { offset: previous }) }}#tricks"  onclick="scrollToTricks()" class="flex w-fit items-center justify-center px-3 h-8 ms-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700">Previous</a>
            {% endif %}
            {% if next < tricks|length %}
                <a href="{{ path('app_home', { offset: next }) }}#tricks"  onclick="scrollToTricks()" class="flex w-fit items-center justify-center px-3 h-8 ms-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700">Next</a>
            {% endif %}
        </div>
    </section>
    {% endif %}
{% endblock %}
<script>
    function scrollToTricks() {
        var tricksElement = document.getElementById('tricks');
        if (tricksElement) {
            tricksElement.scrollIntoView({ behavior: 'instant' });
        }
    }
</script>